h1 {
  text-align: center;
}

body {
  position: absolute;
  margin: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;

  background-image: url("img/zombie-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

html {
  height: 100%;
}

.playarea {
  padding: 50px;
}

.card-zone {
  display: inline-block;
  color: white;
  border-radius: 5px;
  margin: 5px;
}

.card-zone-label {
  text-align: center;
}

.exile {
  border: 1px solid white;
}

.graveyard {
  border: 1px solid white;
}

.deck .card-zone-label {
  opacity: 0;
}

.card-down {
  background-image: url("img/card-back.png");
}

.card-down, .card-up, .card-zone {
  width: 126px;
  height: 176px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.tapped {
  transform: rotate(-90deg);
}

.card-up, .card-down {
  display: inline-block;
}

/* Creatures */

.creature-zombie-token {
  background-image: url("http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=409656&type=card");
}

.creature-zombie-giant-token {
  background-image: url("http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=417496&type=card");
}
