.CardModal {
  position: fixed;
  top: 50%;
  left: 50%;

  &:focus {
    outline: none;
  }

  .CardHolder {
    position: relative;
    top: -200px;
    left: -50%;
  }

  img {
    height: 400px;
  }

  .CloseModalButton {
    position: absolute;
    top: 5px;
    right: 5px;
    font-weight: bold;
  }

  .controlButtons {
    position: absolute;
    left: 101%;
    top: 0px;
    width: 120px;
    border: none;
  }
}
