.GameForm {
  .outer-box {
    width: 50%;
    height: 100px;

    margin-left: auto;
    margin-right: auto;

    text-align: center;

    border: 1px solid black;
    border-radius: 10px;
    color: white;

    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    flex-direction: column;

    table {
      margin-right: auto;
      margin-left: auto;
      .label {
        text-align: right;
      }
      .input {
        text-align: left;
      }
    }
  }
}
