.Card {
  display: inline-block;
}

.CardBounds {
  width: 126px;
  height: 176px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.Card img {
  width: 100%;
  height: 100%;
  clip-path: inset(0px 0px 0px 0px round 10px 10px);
}

.tapped {
  width: 176px;
  height: 126px;
}

.tapped img {
  transform-origin: 100% 0%;
  transform: translate(-100%, 25px) rotate(-90deg);
}
