.Graveyard {
  display: inline-block;
}

.Graveyard .CardPile {
  border: 1px dashed white;
  background-image: none;
}

.Graveyard .cardImage {
  clip-path: inset(0px 0px 0px 0px round 10px 10px);
}
