.GamePage {
  padding: 30px;

  .PhaseTracker {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .Hand {
    position: absolute;
    top: 10px;
    left: 330px;
  }

  .TokenCreator {
    position: absolute;
    top: 100px;
    left: 330px;
  }

  .PlaneswalkerCounter {
    position: absolute;
    top: 20px;
    right: 300px;
  }

  .BoardWipe {
    position: absolute;
    top: 20px;
    left: 400px;
  }

  #PendingZone {
    border: 1px dotted white;
    background: repeating-linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5) 10px,
    rgba(0, 0, 0, 0.6) 10px,
    rgba(0, 0, 0, 0.6) 20px
    );
    padding: 10px;
  }

  #PendingZone:empty {
    border: none;
    padding: 0px;
  }
}
