.CardPile {
  width: 126px;
  height: 176px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  display: inline-block;
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
}

.CardPile .CardPileCount {
  position: absolute;
  bottom: 38px;
  left: 50%;
  width: 26px;
  padding: 4px;
  margin-left: -15px; /* -(width + padding) / 2 */
  font-size: .8em;

  text-align: center;
  border-radius: 5px;

  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

.CardPile #removeCardForm {
  position: absolute;
  bottom: -25px;
  left: 50%;
  width: 96;
  padding: 4px;
  margin-left: -50px;
}

.CardPile .removeCardInput {
  margin-right: 5px;
  width: 25px;
}

.CardPile .cardImage {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
}
